/********** Base styles **********/
*{
  box-sizing: border-box;
}
body h1 {
  color: rgb(1, 74, 153);
  font-family: helvetica;
  margin-bottom: 50px;
  text-align: center;
}
#uno h3 {
  color: rgb(1, 74, 153);
  float: right;
  position: relative;
  margin-top: 0px;
  margin-right: 0;
  border: 1px solid rgb(180, 211, 247);
  background-color: rgb(117, 179, 249);
}

#dos h3 {
  color: rgb(1, 74, 153);
  float: right;
  position: relative;
  margin-top: 0px;
  margin-right: 0;
  border: 1px solid  rgb(180, 211, 247);
  background-color: rgb(117, 179, 249);
}

#tres h3 {
  color: rgb(1, 74, 153);
  float: right;
  position: relative;
  margin-top: 0px;
  margin-right: 0;
  border: 1px solid rgb(180, 211, 247);
  background-color: rgb(117, 179, 249);
}

.row p {
  background-color: rgb(44, 114, 193);
  border: 1px solid rgb(1, 74, 153);
  width: 100%;
  height: 100%;
  padding: 20px;
  font-family: Impact, Charcoal, sans-serif;
  color: rgb(143, 193, 247);

}

.row {
  width: 100%;
}
/** Header **/

#header-nav {
  background-color: rgb(44, 114, 193);
  border-radius: 0;
  border: 0;

}

#logo-img {
  background: url('../images/dharmacakra.png') no-repeat;
  width: 150px;
  height: 150px;
  margin: 10px 15px 10px 0;
}

.navbar-brand {
  padding-top: 50px;
}

.navbar-brand h1 {
  font-family: Helvetica, serif;
  color: rgb(143, 193, 247);
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 50px;
  margin-bottom: 0;
  line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus{
  text-decoration: none;
/** End Header **/

/********** Large devices only **********/
@media (min-width: 992px) { .col-lg-4, .col-lg-6, .col-lg-12 {
    float: left;
    
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-12 {
    width: 100%;
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  #logo-img {
  background: url('../images/Dharma_Wheel.png') no-repeat;
  width: 100px;
  height: 100px;
  margin: 5px 5px 5px 0;
  }
}
/********** Medium devices only **********/
@media (max-width: 991px) and (min-width: 768px)
 {.col-md-4, .col-md-6, .col-md-12 {
    float: left;
   
  }
  #logo-img {
  background: url('../images/Dharma_Wheel.png') no-repeat;
  width: 100px;
  height: 100px;
  margin: 5px 5px 5px 0;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-6 {
    width: 50%;
  }
  }
  .col-md-12 {
    width: 100%;
  }
  }
/*********** Small devices only**********/
@media (max-width: 767px) { .col-sm-4, .col-sm-6, .col-sm-12 {
    float: left;

  }
  #logo-img {
  background: url('../images/50px-600px-Dharma_Wheel.png') no-repeat;
  width: 50px;
  height: 50px;
  margin: 5px 5px 5px 0;
  }
  .col-sm-4 {
    width: 33.33%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-12 {
    width: 100%;
  }
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }