body {
  font-size: 16px;
  color: #fff;
  font-family: 'Oxygen', sans-serif;

}
div.pri {
  color: rgb(1, 74, 153);
  text-shadow: 1px 1px 1px #222;
  text-align: center;
}
/** HEADER **/
#header-nav {
  background-color: rgb(44, 114, 193);
  border-radius: 0;
  border: 0;
}

#logo-img {
  background: url('../images/dharmacakra.png') no-repeat;
  width: 150px;
  height: 150px;
  margin: 10px 15px 10px 0;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { /* page name*/
  font-family: 'Lora', serif;
  color: rgb(143, 193, 247);
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
 .navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: rgb(143, 193, 247);
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/* end header */

/* home*/

#uno h3 {
  color: rgb(1, 74, 153);
  float: right;
  position: relative;
  margin-top: 0px;
  margin-right: 0;
  border: 1px solid rgb(180, 211, 247);
  background-color: rgb(117, 179, 249);
}

#dos h3 {
  color: rgb(1, 74, 153);
  float: right;
  position: relative;
  margin-top: 0px;
  margin-right: 0;
  border: 1px solid  rgb(180, 211, 247);
  background-color: rgb(117, 179, 249);
}

#tres h3 {
  color: rgb(1, 74, 153);
  float: right;
  position: relative;
  margin-top: 0px;
  margin-right: 0;
  border: 1px solid rgb(180, 211, 247);
  background-color: rgb(117, 179, 249);
}

.row p {
  background-color: rgb(44, 114, 193);
  border: 1px solid rgb(1, 74, 153);
  width: 100%;
  height: 100%;
  padding: 20px;
  font-family: Impact, Charcoal, sans-serif;
  color: rgb(143, 193, 247);

}
/* end home*/